<div class="jumbotron">
<h1>Welcome to Scribble (beta)</h1>
<p>Your personal online notebook application </p>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>


